body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

h2{
  color: blueviolet;
}

table {
    margin: auto;
    border: 2px solid darkorchid;
}

th, td {
    border-top: 0.5px solid darkorchid;
}

th{
    padding: 0px 35px 0px 35px;
}

thead{
    background-color: plum;
}

span {
    font-family: monospace;
    background-color: yellow;
}

